body {
    background: linear-gradient(#89f6a1, #7aa2f1);
    font-family: 'Afacad Flux', Arial, sans-serif;
  }
  
  h1 {
  font-family: 'Afacad Flux', Verdana, sans-serif;
  }
  #map { 
    height: 500px; 
    width:100%;
    border: 1px solid#fff;
}
  a {
    color: #400052;
  }
  a:hover {
    color: #7C009E;
  }