body {
    background: linear-gradient(#fd8585, #3a3c3f);
    font-family: 'Afacad Flux', Arial, sans-serif;
}

h1 {
    font-family: 'Afacad Flux', Verdana, sans-serif;
}

p {
    font-family: 'Afacad Flux', Verdana, sans-serif;
}

#map { 
    height: 500px; 
    width: 100%;
    border: 1px solid #fff;
}

